# ===============================
# Python
# ===============================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
dist/
build/

# ===============================
# Virtual Environments
# ===============================
venv/
env/
.venv/
deeplearningscratch/
pyvenv.cfg

# ===============================
# Jupyter
# ===============================
.ipynb_checkpoints/

# ===============================
# PyTorch / Lightning
# ===============================
lightning_logs/
*.pt
*.pth
*.ckpt

# ===============================
# Visualizations / Outputs
# ===============================
*.png
*.jpg
*.svg
*.pdf

# ===============================
# Environment Variables
# ===============================
.env

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db
